body{
			font-family: "AaWanWan";
			background: url(images/bgimage.png);
			width: 1400px;
			height: 768px;
			margin: 0;
			border: 0;
			padding: 0;
		}

		.heado{
			width: 1400px;
			height: 100px;

		}
		#logo{
			height: 77px;
			width: 223px;
			background-image: url(images/logo.png);
			margin:  8px 0 0 40px;
			background-repeat: no-repeat;
			float: left;
		}

		.guide{
			float:right;
			height:100px;
			width: 1000px; 
			background-image: url(images/guidebg.png);
			background-repeat: no-repeat;
			text-align: left;
			margin: 0;
			padding: 0;
			border:0;
			font-size: 33px;	
		}
		
		.headline{
			margin-top: 50px;
			width: 1440px;
			height: 5px;
			background-image: url(images/headline.png);
			clear: both;
		}
		
		

		.breadcrum{
			background-image: url(images/breadcrum.png);
			height:50px;
			width: 1266px; 
			background-repeat: no-repeat;
			text-align: left;
			margin: 40px 0 20px 50px;
			padding: 0;
			border:0;
			font-size: 33px;

		}

		.content{
			height: 355px;
			width:1366px;
		}

		.sex{
			height: 355px;
			width:362px;
			background-image: url(images/sex.png);
			background-repeat: no-repeat;
			float: left;
			margin: 0 60px 0 80px;
			padding-top: 35px;
			padding-left: 25px;
		}

		.blood{
			height: 328px;
			width:369px;
			background-image: url(images/blood.png);
			background-repeat: no-repeat;
			float: left;
			margin-right:40px; 
			padding-top: 35px;
			padding-left: 30px;
		}
		.child{
			height: 298px;
			width:356px;
			background-image: url(images/child.png);
			float: left;
			background-repeat: no-repeat;
			padding-top: 35px;
			padding-left: 30px;
			
		}

		.content p{
			text-align: center;
			font-size: 50px;
		}
		.clear {
		    clear:both;/*主要使用这个属性来清除浮动*/
  }


		.footer{
			height: 355px;
			width:700px;
			text-align: center;
			float: right;
			font-size: 50px;
		}

a{text-decoration: none;}
a.content:link {color: grey}
a.content:visited {color: black}
a.content:hover {color: grey}
a.content:active {color: rgb(255,2,83)}

a.navigation1:link {color: grey}
a.navigation1:visited {color: black}
a.navigation1:hover {color: white}
a.navigation1:active {color: grey}

a.navigation:link {color: grey}
a.navigation:visited {color: black}
a.navigation:hover {color: white}
a.navigation:active {color: lightgrey}

